 {{#each items}} {{#if @first}}
<div class="caja primero">
    {{else}} {{#if @last}}
    <div class="caja ultimo">
        {{else}}
        <div class="caja ">
            {{/if}} {{/if}}
            <h2>{{nombre}}</h2>
            <h3>{{saluda nombre }}</h3>
            <p>{{@index}} - {{nombre_prod}}</p>
            <p>key: {{@key}}</p>
            <span>Id Ref: {{_id.$num}} </span>
            <p>Productor: {{productor}}</p>
            <p>Stock: {{stock}}</p>
            <p>Precio: {{precio}}</p>
            <p>Tamanos: </p>
            <ul>
                {{#each tamanos }}
                <li>{{this}}</li>{{/each}} {{!-- si solo contiene lista de valores usamos this --}}
            </ul>
            {{#with imagen}}
            <img src="{{this}}" alt="">{{/with}} {{#with contacto as |miContacto|}} {{!-- si contiene pares de nombre:valor usamos un nombre --}}
            <h4>Contacto</h4>
            <p>Nombre: {{miContacto.nombre}} {{miContacto.apellido}}</p>
            <p>Tel {{miContacto.tel}}</p>
            {{/with}}
        </div>
        {{/each}}